<% nameScope = @config['name_scope'] %>
    </div>

    <footer class="footer text-center text-muted">
      <small>Build with love using Trulia's <a href="https://github.com/trulia/hologram">Hologram</a> and <a href="https://github.com/tonifisler/Cortana">cortana-two</a> ! - Built <span class="label label-info"><%= Time.now.strftime("%Y-%m-%d %H:%M") %></span></small>
    </footer>
  </div>

  <script src="theme-build/js/vendors.min.js"></script>
  <script type="text/javascript">
    var jQuery_no_conflict = $.noConflict(true);
  </script>
  <script src="theme-build/js/main.js"></script>
  <% if @config['js_include'].to_s.strip.length != 0 %>
    <% @config['js_include'].each do |js| %>
      <script type="text/javascript" src="<%= js %>"></script>
    <% end %>
  <% end %>
  <!-- Source Components -->
  <% if @config['components_include'].to_s.strip.length != 0 %>
    <% @config['components_include'].each do |component| %>
      <link rel="import" href="<%= component %>">
    <% end %>
  <% end %>
</body>
</html>
