<% nameScope = @config['name_scope'] %>
<!DOCTYPE html>
<html ng-app="cortana">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="./theme-build/css/vendors.css">
    <link rel="stylesheet" href="./theme-build/css/cortana.css">

    <!-- Source CSS -->
    <% if @config['css_include'].to_s.strip.length != 0 %>
      <% @config['css_include'].each do |css| %>
        <link rel="stylesheet" href="<%= css %>">
      <% end %>
    <% end %>

    <!--[if lt IE 9]>
      <script src="theme-build/polyfill/html5shiv.js"></script>
      <script src="theme-build/polyfill/respond.min.js"></script>
    <![endif]-->
</head>

  <body ng-controller="MainController">

    <header class="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><a href="index.html"><%= @config['styleguide_name'] %></a></span>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <% catWrappers = Array.new %>
                <% @categories.each do |cat| %>
                  <% catWrapperName = cat[0].split(nameScope).first %>
                  <% if not catWrappers.include?(catWrapperName) %>
                    <% catWrappers.push(catWrapperName) %>
                  <% end %>
                <% end %>

              <% catWrappers.each do |wrapper| %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" role="button" aria-expanded="false"><%= wrapper %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                  <% @categories.each do |cat| %>
                    <% if cat[0].include?(wrapper) %>
                      <% catName = cat[0].split(nameScope).last %>
                      <% if catName == title.split(nameScope).last %>
                        <li><a class="active" href="<%= cat[1] %>"><%= catName %></a></li>
                      <% else %>
                        <li><a href="<%= cat[1] %>"><%= catName %></a></li>
                      <% end %>
                    <% end %>
                  <% end %>
                  </ul>
                </li>
              <% end %>


            </ul>
          </div><!-- /.navbar-collapse -->

          <nav class="subnav text-xs">
            <ul bs-scrollspy-list data-offset="-30" class="nav nav-pills">
              <% @blocks.each do |block| %>
                <% if not block[:parent] %>
                  <li role="presentation"><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                <% end %>
              <% end %>
            </ul>
          </nav>

        </div>
      </nav>
    </header>

    <div>

      <div class="cortana-container container">

        <div class="cortana-content-wrapper clearfix">
          <div class="cortana-content">



